---
layout: layouts/main.njk
---

<section class='my-8'>
  <h1 class='font-bold text-4xl'>Running Training Plans</h1>
</section>

{% for plan in plans %}
  {% set name = plan.name %}
  {% set slug = '/plans/' + name | slug %}
  <section>
    <a href="{{ slug }}">{{ name }}</a>
  </section>
{% endfor %}