---
layout: layouts/main.njk

pagination:
  data: plans
  size: 1
  alias: plan

permalink: plans/{{ plan.name | slug }}/index.html
---
{% set chunkedActivities = plan.activities | chunk(plan.activitiesPerWeek) %}
{% set daysOfWeek = ['M', 'T', 'W', 'Th', 'F', 'S', 'Su']%}
{% set runningDays = 
  { '3': [true, false, true, false, false, true, false] }
%}

<section class='mt-8 mb-12'>
  <h1 class='font-bold text-4xl'>{{ plan.name }} <span class='text-xl text-eggplant-300'>Running Plan</span></h1>
</section>

<section class='w-screen ml-1/2 transform -translate-x-1/2 bg-eggplant-700 py-12 shadow-inner'>
  <div class='plan-description max-w-screen-md px-4 mx-auto'>
    {{ plan.description | safe }}
  </div>
</section>

<section class='mt-20'>
  <h2 class='text-3xl font-bold mb-12'>Plan Features</h2>
  <ul class='grid gap-8' style='grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr) );'>
    <li class='bg-eggplant-700 rounded-lg p-4'>
      <p class='uppercase text-sm text-clementine-300'>Runs per Week</p>
      <div class='flex items-center my-1'>
        <p class='mr-2 text-2xl'>{{ plan.activitiesPerWeek }}</p>
        {% svg 'running', { class: 'fill-current h-5 w-5' } %}
      </div>
      <ul class='flex justify-between'>
        {% for index in range(0, 7) %}
          <li class='flex flex-col'>
            <span class='text-center'>{{ daysOfWeek[index] }}</span>
            {% if runningDays[plan.activitiesPerWeek][index] %}
              <div class='mx-auto bg-clementine-500 h-3 w-3 rounded-full'></div>
            {% else %}
              <div class='mx-auto bg-eggplant-900 h-3 w-3 rounded-full'></div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class='bg-eggplant-700 rounded-lg p-4'>
      <p class='uppercase text-sm text-clementine-300'>Length</p>
      <p>{{ chunkedActivities | length }} to {{ (chunkedActivities | length) + 2 }} weeks</p>
    </li>
    <li class='bg-eggplant-700 rounded-lg p-4'>
      <p class='uppercase text-sm text-clementine-300'>Perfect For</p>
      <p>{{ plan.perfectFor }}</p>
    </li>
  </ul>
</section>

<section class='mt-20'>
  <h2 class='text-3xl font-bold mb-12'>Weeks at a Glance</h2>
  <ol>
    {% for week in chunkedActivities %}
      <li class='lg:flex'>
        <div class='w-full lg:w-20 lg:mr-8'>
          <p>Week {{ loop.index }}:</p>
        </div>
        <ol class='w-full grid grid-cols-3 flex-1'>
          {% for activity in week %}
            <li>{{ activity.time }}</li>
          {% endfor %}
        </ol>
      </li>
    {% endfor %}
  </ol>
</section>
