---
layout: layouts/main.njk

pagination:
  data: plans
  size: 1
  alias: plan

permalink: plans/{{ plan.name | slug }}/index.html
---

<section class='my-8'>
  <h1>{{ plan.name }} Running Plan</h1>
</section>

