---
layout: layouts/main.njk

# Pagination in 11tydata.js

# Permalink in 11tydata.js
---
{% set currentPlanTraining = pagination.pages | filter(plan.name) %}

{# Training Plan Week Link #}
<nav>
  <ul class='grid grid-cols-8 gap-10'>
    {% for block in currentPlanTraining %}
      <li class=''>
        <a 
          class='
            w-full h-6 block text-white text-center
            {% if plan.week !== block.week %}
              bg-gray-500
            {% else %}
              bg-indigo-400
            {% endif %}'
          href="/plans/{{ plan.name | slug }}/week-{{ block.week }}">
          {{ block.week }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

{% for activity in plan.activities %}
  {{ activity.time }}
{% endfor %}

