{% set navBasicClasses = '' %}
{% set navActiveClasses = 'text-lime-400' %}
{% set navNotActiveClasses = 'text-eggplant-200 hover:text-white' %}

<nav class='hidden lg:block'>
  <div class='max-w-screen-md w-full mx-auto text-eggplant-200 flex items-center py-3 px-4'>
    <a 
      class='text-white text-lg {{ navBasicClasses }}' 
      href='/'>
      My Running Party 🏃‍♀️
    </a>
    <div class='nav-links ml-auto relative flex'>
      {% for feature in features %}
        <a class='{{ navBasicClasses }}
          nav-link relative
          {% if not loop.last %}mr-4{% endif %}
          {% if page.url === feature.url %}
            active {{ navActiveClasses }}
          {% elif feature.url in page.url %}
            active {{ navActiveClasses }}
          {% else %}
            {{ navNotActiveClasses }}
          {% endif %}' href="{{ feature.url }}"
          >
            {{ feature.name }}
          </a>
      {% endfor %}
    </div>
  </ul>
</nav>
