
{% set navBasicClasses = 'mobile-nav-link flex flex-col w-12 items-center text-xs uppercase font-semibold py-1 my-1 mx-auto relative' %}
{% set navActiveClasses = 'active text-lime-200' %}

<nav class='fixed block z-10 bottom-0 lg:hidden bg-eggplant-300 w-full'>
  <div class='px-4 w-full text-white grid gap-2 grid-cols-5'>
    <a 
      class='
        {{ navBasicClasses }}
        {% if page.url === '/' %}
          {{ navActiveClasses }}
        {% endif %}'
      href='/'>
      {% svg 'nav/home', { class: 'fill-current h-5 w-5' } %}
      <span>Home</span>
    </a>
    {% for feature in features %}
      <a 
        class='
          {{ navBasicClasses }}
          {% if page.url === feature.url %}
            {{ navActiveClasses }}
          {% endif %}'
        href='{{ feature.url }}'>
        {% svg 'nav/home', { class: 'fill-current h-5 w-5' } %}
        <span>{{ feature.shortName }}</span>
      </a>
    {% endfor %}
  </div>
</nav>