<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Running Party</title>
  <style>{{ css | safe }}</style>
</head>
<body class='flex flex-col min-h-screen'>
  <nav>
    <section class='px-4 max-w-screen-md w-full mx-auto'>
      TK
    </section>
  </nav>
  <main class='flex-grow px-4 max-w-screen-md w-full mx-auto'>
    {{ content | safe }}
  </main>
  <footer>
    <section class='px-4 max-w-screen-md w-full mx-auto'>
      TK
    </section>
  </footer>
</body>
</html>