<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Running Party</title>
  {# <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> #}
  <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
  <script>
    (() => {
      if(sessionStorage.loadedMyRunningPartyFonts) {
        document.documentElement.className += "font-loaded";
        return;
      }

      if( "fonts" in document ) {
        Promise.all([
          document.fonts.load("1em Lexend Deca"),
        ]).then(function () {
          document.documentElement.className += "font-loaded";
          sessionStorage.loadedMyRunningPartyFonts = true;
        });
      }
    })()
  </script>
</head>
<body class='flex flex-col min-h-screen bg-eggplant-500 leading-relaxed text-eggplant-100'>
  {% include './_desktop-navigation.njk' %}
  {% include './_mobile-navigation.njk' %}
  <main class='flex-grow px-4 max-w-screen-md w-full mx-auto mt-4 mb-10 lg:mt-8'>
    {{ content | safe }}
  </main>
  {# Only show the footer on desktop #}
  <footer class='bg-eggplant-600 hidden lg:block'>
    <section class='px-4 max-w-screen-md w-full mx-auto my-4 text-xs flex'>
      <p>Created by <a class='underline hover:text-lime-500' href='https://leogenerali.com' target='_blank'>Leo Generali</a></p>
      <p class='ml-auto'>©2020</p>
    </section>
  </footer>
</body>
</html>