---
layout: layouts/main.njk

permalink: index.html
---

{# {% for plan in plans | entries %}
  {% set name = plan[1].name%}
  {% set slug = 'plan/' + name | slug %}
  <div>
    <a href="{{ slug }}">{{ name }}</a>
  </div>
{% endfor %} #}