---
layout: layouts/main.njk
scripts:
  - pace-calculator
---

<section class='my-8'>
  <h1 class='font-bold text-4xl'>Running Pace Calculator</h1>
  <div class='js-pace-calculator-container'></div>
</section>
